* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  background-color: #e7eef8;
  font-family: "Commissioner", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
button {
  border: none;
  outline: none;
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 15px;
}

.header,
.additional-education {
  background-position: right 56px bottom -206px;
}
.header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 20px;
}
.title {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  color: #e7eef8;
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #e7eef8;
}
.is-gymnasium .header,
.is-kindergarten .header {
  padding-bottom: 0;
}
.header__content {
  padding-bottom: 75px;
}
.is-gymnasium .header__content {
  padding: 32px 0;
  background: #173d76;
}
.is-kindergarten .header__content {
  padding: 32px 0;
  background: #065f16;
}
.header__items,
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo,
.header__item .btn,
.phone__mobile {
  margin-right: 20px;
}
.header__items {
  margin-bottom: 15px;
}
.header__btn {
  border-radius: 50%;
  border: 2px solid #2e5faa;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-menu {
  width: 100%;
  position: fixed;
  top: -500%;
  right: 0;
  bottom: 100%;
  z-index: 45;
  transition: all ease 0.5s;
  background: #2e5faa;
}
.header-menu.active {
  top: 0;
  bottom: 0;
}
.header-menu__top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 24px 5px;
  margin-bottom: 20px;
}
.btn {
  background: #31aa47;
  border-radius: 30px;
  padding: 8px 28px 8px 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  cursor: pointer;
}
.logo__desktop,
.desktop {
  display: none;
}
.header-menu__item {
  display: flex;
  justify-content: space-between;
}
.header__btn-exit {
  background: transparent;
  cursor: pointer;
}

.header-menu__address {
  position: relative;
  padding-left: 40px;
}
.header-menu__address::after {
  position: absolute;
  content: url(../image/system/lab.svg);
  left: 0;
  top: 24px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}
.header-menu__address a:hover,
.header-menu__address a span:hover {
  text-decoration: underline;
}
.header-menu__address a {
  position: relative;
  padding-right: 70px;
}
.header-menu__address a:hover::before {
  position: absolute;
  content: url(../image/system/arrow-menu.svg);
  width: 50px;
  height: 23px;
  right: 0;
  top: 15px;
  transform: translateY(-50%);
}
.header-menu__links {
  column-count: 2;
}
.header-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  color: #ffffff;
  margin-bottom: 25px;
}

.header-menu__address a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;

  color: #ffffff;
  margin-bottom: 40px;
  display: inline-block;
}
.header-menu__address a span {
  width: 100%;
  font-size: 12px;
  line-height: 1;
  display: block;
}

.slider__title {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 0.7;

  text-transform: uppercase;

  color: #2e5faa;
}
.slider__title span {
  font-size: 30px;
  margin-top: 10px;
  display: block;
}
.slider__text {
  position: relative;
  width: 100%;
  margin-left: 15px;
}
.slider__description {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  padding-left: 15px;
  width: 250px;
  padding-top: 25px;
  margin-bottom: 35px;

  color: #173d76;
}
.slider__description::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #2e5faa;
}
.slider__play {
  cursor: pointer;
  position: absolute;
  background: #2e5faa;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  right: 29px;
  top: -45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__play img {
  width: 53px;
}
.cirle-text {
  position: absolute;
  text-align: center;
  pointer-events: none;
  user-select: none;

  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #e7eef8;
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cirle-text span {
  position: absolute;
  top: -43px;
  display: inline-block;
  transform-origin: 0 42px;
}
.slider__image {
  height: 250px;
  border-top: 4px solid #2e5faa;
  border-bottom: 4px solid #2e5faa;
  margin-bottom: 15px;
}
.slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: 0;
  margin-right: 0;
}
.slider {
  width: 100vw;
  margin-left: -15px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
}
.swiper-pagination-bullet:nth-child(1) {
  background: #2e5faa;
}

.swiper-pagination-bullet:nth-child(2) {
  background: #5ac1d2;
}
.swiper-pagination-bullet:nth-child(3) {
  background: #fed059;
}
.swiper-pagination-bullet:nth-child(4) {
  background: #31aa47;
}

.swiper-pagination-bullet-active {
  position: relative;
}
.swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-radius: 50%;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  left: 5px;
  bottom: 20px;
}

.social {
  display: none;
}

.gymnasium,
.stay {
  background-color: #2e5faa;
  padding: 56px 0;
}

.heading {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;

  color: #ffffff;
}
.heading--blue {
  color: #173d76;
}
.heading--kindergarten {
  color: #31aa47;
}
.heading--gymnasium {
  color: #173d76;
}
.gymnasium-section img {
  max-width: 100%;
}
.gymnasium-section .stocks__item {
  width: calc(100vw + 30px);
  margin-left: -15px;
  border-radius: 0;
}
.gymnasium__slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
}
.gymnasium__slogan--article {
  color: #173d76;
}
.is-article .gymnasium__slogan--article:last-of-type {
  padding-bottom: 24px;
  border-bottom: 2px solid #9ba8ba;
}
.gymnasium__slogan--article span {
  font-weight: 700;
}

.gymnasium__cases {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
  width: 100%;
}
.gymnasium__case {
  width: 100%;
}
.gymnasium__img {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
}
.gymnasium__img img {
  width: 100%;
}
.gymnasium__description {
  background: #e7eef8;
  border-radius: 0 0 8px 8px;
  padding: 32px 10px;
  display: flex;
  flex-direction: column;
}
.gymnasium__title img {
  width: 165px;
}
.gymnasium__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #173d76;
}
.gymnasium__mark {
  position: relative;
  border: 1px solid #2e5faa;
  border-radius: 30px;
  color: #2e5faa;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: inline-block;
  padding: 8px 16px 8px 36px;
  margin: 0 auto;
}

.gymnasium__mark:after {
  position: absolute;
  content: url(../image/system/mark.svg);
  width: 13px;
  height: 18px;
  top: 18px;
  left: 16px;
  bottom: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(-50%);
}
.mobile {
  width: 215px;
  margin: 0 auto;
  margin-top: 15px;
}
.mobile__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  background: #31aa47;
  border-radius: 30px;
  padding: 10px 25px;
  margin-bottom: 15px;
}
.mobile__more {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2e5faa;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
.additional-education {
  padding: 56px 0;
}
.additional-education__desc {
  display: none;
}
.tabs-mobile {
  width: calc(100vw - 15px);
  overflow: hidden;
}
.additional-education__tabs {
  margin-top: 30px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  overflow-x: auto;
}
.additional-education__tab {
  white-space: nowrap;
  padding: 4px 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}
.additional-education__tab + .additional-education__tab {
  margin-top: 5px;
  margin-left: 10px;
}
.additional-education__tab--top {
  color: #173d76;
}
.additional-education__tab--british {
  background: #31aa47;
}
.additional-education__tab--sport {
  background: #5ac1d2;
}

.additional-education__tab--log {
  background: #173d76;
}
.additional-education__tab--psi {
  color: #173d76;
}

.additional-education__items {
  display: none;
}
.additional-education__items.active {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.additional-education__item {
  position: relative;
  width: 135px;
  height: 135px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}
.additional-education__item:nth-child(even) {
  margin-left: 10px;
}
.additional-education__item:after {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  right: 0;
  top: 0;
  border-radius: 0 0 0 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.additional-education__img {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 20px;
}
.additional-education__item:before {
  position: absolute;
  z-index: 1;
  right: 40px;
  top: 40px;
}
.additional-education__title {
  position: absolute;
  left: 26px;
  bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;

  color: #e7eef8;
}

.additional-education__item--log {
  background: #173d76;
}
.additional-education__item--british {
  background: #31aa47;
}
.additional-education__item--psi {
  background: #ffffff;
}
.additional-education__item--sport {
  background: #5ac1d2;
}

.additional-education__item--log:after {
  background: #2e5faa;
}

.additional-education__item--british:after {
  background: #fed059;
}
.additional-education__item--psi:after {
  background: #5ac1d2;
}
.additional-education__item--sport:after {
  background: #2e5faa;
}

.additional-education__item--psi .additional-education__title {
  color: #173d76;
}

.stocks {
  background: #6287bf;
}
.stocks__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  margin-left: -15px;
}
.stocks__item {
  width: 100%;
  border-radius: 8px;
  padding: 19px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.stocks__img {
  display: none;
}
.friends {
  background: #173d76;
  color: #e7eef8;
}
.sports {
  background: #fed059;
  color: #173d76;
}

.stocks__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 1;

  margin: 0;
}

.stocks__advantage {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 0;
}
.stocks__label {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;

  color: #ffffff;

  transform: rotate(-4deg);
  white-space: pre-line;
  margin-top: -10px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: inline-block;
  padding: 17px;
}
.friends .stocks__label {
  background: #fe8b59;
}
.sports .stocks__label {
  background: #31aa47;
  margin-bottom: 30px;
}
.stocks__text {
  display: flex;
  flex-direction: column;
}
.stocks__btn {
  background: #31aa47;
  border-radius: 30px;
  padding: 8px 28px 8px 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;

  color: #ffffff;
  margin: 0 auto;
}
.stocks__btn--mobile {
  margin: 16px 0;
}
.stocks__more {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.advantage {
  padding: 56px 0;
  background: #2e5faa;
}
.advantage__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.advantage__item {
  display: flex;
  width: 100%;
  background: #173d76;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 16px;
  padding: 16px;
}
.advantage__circle {
  display: block;
  flex-shrink: 0;
  border-radius: 50%;
  background: #5ac1d2;
  color: #173d76;
  width: 48px;
  height: 48px;
  margin-right: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;

  color: #173d76;
  text-transform: uppercase;
}

.advantage__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #e7eef8;
}
.advantage__description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 0;

  color: #e7eef8;
}
.team {
  padding: 56px 0;
}
.team__tabs {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.team__tab {
  background: #ffffff;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: #31aa47;
  padding: 4px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.team__tab.active {
  color: #fff;
  background-color: #2e5faa;
}

.team__tab + .team__tab {
  margin-left: 10px;
}
.team__tab:hover {
  color: #fff;
  background-color: #2e5faa;
}
.team__content {
  width: calc(100vw - 15px);
}
.team__content--article {
  width: 100%;
}
.team__wrapper {
  display: none;
}
.team__wrapper--active {
  display: block;
}

.team__slider {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  margin-top: 32px;
}
.team__items--article {
  display: flex;
  flex-wrap: wrap;
}
.team__item--article {
  width: 100%;
  margin-bottom: 15px;
}
.team__slide,
.team__item--article {
  background: #e7eef8;
  border: 1px solid rgba(46, 95, 170, 0.5);
  border-radius: 8px;

  padding: 32px;
}

.team__img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}
.team__img img {
  width: 100%;
}
.team__name {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #173d76;
  white-space: pre-line;
  margin-bottom: 15px;
}
.team__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #173d76;
}
.team__pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.team__pagination > .swiper-pagination-bullet {
  background: #2e5faa;
}
.feedback {
  padding: 56px 0;
  background: #2e5faa;
}

.feedback__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}
.feedback__form input {
  border: 2px solid #5b8bcf;
  border-radius: 4px;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #e7eef8;
  background-color: transparent;
  width: 100%;
  margin-bottom: 16px;
  outline: none;
}
.feedback__form input::placeholder {
  color: inherit;
  font-family: inherit;
}
.feedback__form input[type="submit"] {
  background: #31aa47;
  border-radius: 30px;
  padding: 14px 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 125px;
  color: #ffffff;
  display: inline-block;
}
.feedback__approval {
  display: inline;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
  margin-left: 15px;
}
.footer {
  background: #173d76;
  padding: 56px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 85%;
}
.title {
  font-size: 24px;
  line-height: 29px;
  color: #173d76;

  margin-bottom: 32px;
}
.title a {
  font-size: 16px;
  line-height: 20px;
}
.title a span img {
  width: 24px;
}
.contacts__item {
  padding-left: 40px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;

  font-weight: 600;

  color: #173d76;
  position: relative;
}
.team__wrapper--article {
  margin: 25px 0;
  align-items: center;
}
.contacts__item::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
}
.contacts__item--map::after {
  content: url(../image/content/contacts/map.svg);
}
.contacts__item--phone::after {
  content: url(../image/content/contacts/phone.svg);
}
.contacts__item--wt::after {
  content: url(../image/content/contacts/wt.svg);
}
.contacts__item--email::after {
  content: url(../image/content/contacts/email.svg);
}
.contacts__item--vk::after {
  content: url(../image/content/contacts/vk.svg);
}
.contact__logo {
  margin-bottom: 25px;
}
.contacts__map {
  width: 100%;
  height: 288px;
  border: 4px solid #6287bf;
  border-radius: 4px;
  overflow: hidden;
}
.contacts__map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 440px;
}

.footer__contacts--menu {
  display: block;
  width: 65%;
}

.footer__contact {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #6287bf;
  border-radius: 40px;
  padding: 5px 16px 5px 42px;
  color: #e7eef8;
  margin-bottom: 10px;
}
.footer__contact::after {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  left: 16px;
  bottom: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(-50%);
}
.footer__contact--phone::after {
  content: url(../image/content/footer-contacts/phone.svg);
}
.footer__contact--email::after {
  content: url(../image/content/footer-contacts/email.svg);
}
.footer__contact--whatsapp::after {
  content: url(../image/content/footer-contacts/whatsapp.svg);
}
.footer__contact--vk::after {
  content: url(../image/content/footer-contacts/vk.svg);
}
.footer__addresses {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  flex-shrink: 0;
  color: #e7eef8;
  margin-bottom: 16px;
}
.footer__address {
  margin-bottom: 16px;
}

.menu__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  margin-right: 60px;
  margin-bottom: 16px;
}
.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 50;
}
.popup-wrapper.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  position: relative;
  height: 559px;
  background: #2e5faa;
  border: 4px solid #ffffff;
  box-shadow: 0px 0px 50px -15px #173d76;
  border-radius: 8px;
  margin: 0 auto;
  padding: 5px 15px;
}
.popup .header__btn-exit {
  position: absolute;
  top: 10px;
  right: 10px;
}
.poup__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;

  margin-bottom: 15px;
  color: #ffffff;
}
.popup__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;

  color: #ffffff;
}
.radio-btn label {
  display: inline-block;
  cursor: pointer;
  padding: 16px;
  line-height: 34px;
  border: 2px solid #5b8bcf;

  border-radius: 6px;
  user-select: none;
  width: 100%;
  margin-bottom: 16px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1px;
  text-align: center;
}
.radio-btn input[type="radio"]:checked + label {
  background: #31aa47;
}
.radio-btn input[type="radio"] {
  display: none;
}
.popup__input {
  border: 2px solid #5b8bcf;
  border-radius: 4px;
  padding: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;

  color: #e7eef8;
  width: 100%;
  background: transparent;
  margin-bottom: 10px;
  outline: none;
}

.popup__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;

  color: #e7eef8;
}

.popup__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 25px;

  color: #ffffff;
}
.popup__btn {
  background: #31aa47;
  border-radius: 30px;
  padding: 15px 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  border: none;
  color: #ffffff;
  margin-right: 5px;
  cursor: pointer;
}

.popup__approval {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;

  color: #ffffff;

  display: inline-block;
}
.footer__contacts {
  margin: 25px 0;
}
.menu {
  column-count: 2;
}
.popup-team {
  display: none;
}
.popup-team.active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  order: 0;
  opacity: 0.8;
  background: #e7eef8;
  width: 100%;
  height: 100%;
}
.popup-team__body {
  overflow-y: auto;
  position: absolute;
  width: 320px;
  background: #e7eef8;
  height: 90vh;

  border: 4px solid #2e5faa;
  border-radius: 8px;

  color: #173d76;
  padding: 20px;
}
.popup-team__btn-exit {
  position: absolute;
  top: 24px;
  right: 24px;
}
.popup-team__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
}
.popup-team__img img {
  width: 100%;
}
.popup-team__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}
.place-post {
  margin-top: 25px;
}
.place-post__place {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: 135px;

  color: #ffffff;
  background: #2e5faa;
  border-radius: 30px;
  padding: 8px 25px;
}
.place-post__post {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.place-post__label {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}
.place-post__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}
.differences {
  background: #2e5faa;
}
.principles {
  background: #31aa47;
}
.gallery {
  padding: 32px 0;
}
.gallery__items {
  display: flex;
  margin: 32px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery__item {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 290px;
  background-color: blue;
  overflow: hidden;
}
.gallery__item img {
  width: 100%;
  height: 100%;
}
.faq {
  background: #6287bf;
  padding: 56px 0;
}
.faq__items {
  margin-top: 30px;
}
.faq__item {
  width: 100%;
  background: #e7eef8;
  border-radius: 8px;
  color: #173d76;
  margin-bottom: 15px;
}
.faq__question {
  padding: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
.faq__question::after {
  position: absolute;
  content: url(../image/system/plus.svg);
  right: 25px;
  top: 25px;
  width: 30px;
  height: 30px;
}
.faq__text {
  width: 90%;
}
.faq__answer {
  display: none;
}
.faq__item.active .faq__question::after {
  content: url(../image/system/minus.svg);
}

.faq__item.active .faq__answer {
  position: relative;
  display: block;
  padding: 25px;
  font-family: "San Francisco Pro Display Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.faq__item.active .faq__answer::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #2e5faa;
}
.header__text .title,
.header__text .description {
  color: #e7eef8;
}
.header__text .popup {
  height: auto;
}

.header__text .title {
  font-size: 32px;
  line-height: 39px;
  margin-top: 15px;
}
.header__text .mobile {
  width: auto;
}
.header__text .description {
  font-size: 14px;
  line-height: 20px;
}
.header__text .slider__play {
  position: static;
  margin: 35px 0;
}
.differences {
  padding: 32px 0;
}
.differences .heading {
  margin-bottom: 32px;
}

.differences__item {
  display: flex;
  margin-bottom: 32px;
}
.differences__img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 10px;
}
.differences__img img {
  max-width: 100%;
}
.differences__head {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #e7eef8;
}
.differences__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #e7eef8;
}
.principles {
  padding: 32px 0;
}
.principles .heading {
  margin-bottom: 32px;
}
.principles__item {
  padding-left: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  color: #fff;
  margin-bottom: 32px;
}
.principles__item::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #173d76;
  left: 0;
  top: 0;
}
.stay__items {
  margin-top: 35px;
}
.stay__item {
  background: #e7eef8;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 30px;
}
.stay__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #173d76;
  margin-bottom: 32px;
}
.stay__title span {
  display: block;
  width: 153px;
  background: #31aa47;
  border-radius: 26px;
  padding: 5px 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.stay__times {
  margin-bottom: 32px;
}
.stay__time {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  color: #173d76;
  margin-bottom: 15px;
}
.stay__time span {
  font-weight: 600;
}
.hide {
  display: none;
}
.active.hide {
  display: block;
}
.show {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;

  color: #173d76;
  margin-bottom: 15px;
}
.active.show {
  display: none;
}
.diagnostics {
  padding: 32px 0;
  background: #173d76;

  color: #e7eef8;
}
.diagnostics__title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 800;
}
.diagnostics__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.diagnostics .feedback__form input[type="text"] {
  background-color: #2e5faa;
}
.diagnostics .feedback__form input[type="submit"] {
  width: 250px;
}
.diagnostics .feedback__approval {
  display: block;
}
.additional-education__item:before {
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 8px;
}
/* .additional-education__item--log:before {
  content: url(../image/content/additional/log.svg);
  width: 100px;
  height: 100px;
} */
.bread {
  display: flex;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #9ba8ba;
}
.bread__item + .bread__item {
  padding-left: 18px;
  margin-left: 8px;
  position: relative;
}
.bread__item + .bread__item::after {
  position: absolute;
  top: 0;
  /* transform: translateY(-50%); */
  left: 0;
  width: 5px;
  height: 0px;
  content: url(../image/system/bread.svg);
}
@media (min-width: 360px) {
  .header__item:first-child {
    width: 80%;
  }
  .phone__mobile {
    margin-right: 0;
  }
  .slider__title {
    font-size: 53px;
  }
  .additional-education__items.active {
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media (min-width: 383px) {
  .header-menu__link {
    font-size: 22px;
  }
}
@media (min-width: 390px) {
  .slider__text {
    width: 90%;
  }
  .slider__title {
    font-size: 58px;
  }
  .slider__title span {
    font-size: 36px;
  }
  .slider__title span {
    font-size: 42px;
  }
  .header-menu__link {
    font-size: 27px;
  }
}
@media (min-width: 410px) {
  .slider__text {
    width: 80%;
  }
  .slider__play {
    right: -45px;
  }
}
@media (min-width: 560px) {
  .header-menu__link {
    font-size: 33px;
  }
}
@media (min-width: 700px) {
  .container {
    margin: 0 auto;
    width: 650px;
    padding: 0;
  }
  .desctop {
    display: block;
  }
  .heading {
    font-size: 42px;
  }
  .heading span {
    display: none;
  }
  .heading--arrow {
    position: relative;
    padding-right: 95px;
    display: inline-block;
  }
  .heading--arrow:after {
    position: absolute;
    content: url(../image/system/arrow.svg);
    right: 0;
    top: 0;
    width: 60px;
    height: 16px;
  }

  .phone {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;

    color: #2e5faa;
  }
  .header__items {
    margin-bottom: 0;
    padding-bottom: 25px;
  }
  .header__item {
    width: 80%;
  }
  .header__item + .header__item {
    width: auto;
  }

  .header__menu {
    display: none;
  }

  .header__menu li {
    list-style-type: none;
  }
  .header__btn {
    padding: 12px;
  }

  .slider {
    width: 90%;
    margin-top: 56px;
    margin-left: 0;
  }

  .slider__image {
    overflow: hidden;
    width: 500px;
    border: 13px solid #2e5faa;
    border-radius: 16px;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .slider__image img {
    width: 100%;
  }
  .slider__text {
    order: -1;
    margin-left: 0;
  }
  .slider__play {
    top: auto;
    bottom: 15px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 177px;
  }
  .slider__title {
    font-size: 104px;
    line-height: 0.7;
  }
  .slider__title span {
    font-size: 64px;
  }
  .slider__text {
    width: 443px;
  }
  .slider__description {
    font-size: 18px;
    line-height: 22px;
    padding-left: 30px;
    width: 394px;
  }

  .slider__description::after {
    width: 2px;
  }

  .gymnasium__case {
    width: auto;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .gymnasium__case:hover {
    transform: scale(1.1);
  }
  .gymnasium__title img {
    width: auto;
  }

  .additional-education__items.active {
    flex-wrap: nowrap;
    width: 95%;
    margin: 0;
  }
  .additional-education__items {
    justify-content: space-between;
  }
  .additional-education__item:nth-child(even) {
    margin-left: 0;
  }
  .additional-education__item {
    width: 115px;
    height: 115px;
    margin-bottom: 0;
  }
  .additional-education__item::after {
    width: 88px;
    height: 88px;
  }
  .additional-education__item + .additional-education__item {
    margin-left: 15px;
  }
  .stocks__items {
    width: 100vw;
    margin-left: -50px;
  }
  .stocks__item {
    width: 782px;
  }
  .stocks__img {
    display: block;
  }
  .stocks__item {
    padding: 26px 36px;
  }
  .stocks__title {
    font-size: 64px;
    line-height: 64px;
  }
  .stocks__text {
    width: 50%;
  }
  .stocks__advantage {
    font-size: 32px;
    line-height: 39px;
    text-align: left;
  }
  .stocks__label {
    margin-top: -25px;
    font-size: 48px;
    line-height: 48px;
  }
  .stocks__btn {
    padding: 14px 28px;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
  }
  .stocks__more {
    font-size: 24px;
    line-height: 29px;
  }
  .advantage__item {
    width: 554px;
  }
  .advantage__circle {
    width: 68px;
    height: 68px;
    font-size: 56px;
    line-height: 68px;
  }
  .advantage__text {
    width: 383px;
  }
  .team__tab {
    font-size: 13px;
    line-height: 20px;
    padding: 10px 25px;
  }
  .team__img {
    width: 239px;
    height: 239px;
  }
  .mobile-img,
  .mobile {
    display: none;
  }
  .team__content {
    width: calc(100vw - 36px);
  }
  .feedback__inner {
    width: 575px;
  }

  .tabs-mobile {
    width: 75%;
    overflow: visible;
  }
  .additional-education__tabs {
    overflow: visible;
    flex-wrap: nowrap;
  }
  .additional-education__tab {
    width: auto;
  }
  .advantage__title {
    font-size: 32px;
    line-height: 39px;
  }
  .advantage__description {
    font-size: 16px;
    line-height: 20px;

    color: #e7eef8;
  }
  .menu__item {
    margin-right: 74px;
  }
  .team__tabs {
    margin-top: 40px;
  }
  .team__wrapper--article {
    margin: 56px 0;
  }

  .footer__addresses {
    width: 326px;
  }
  .popup {
    width: 369px;
  }
  .team__tabs {
    overflow: visible;
  }
  .stay__title span {
    display: inline-block;
    width: auto;
  }
}
@media (min-width: 900px) {
  .header {
    padding-bottom: 56px;
  }

  .header-menu {
    background: url(../image/system/bg/menu-bg.svg) no-repeat right 250px center,
      #2e5faa;
  }

  .header-menu__top {
    padding: 24px 56px;
    margin-bottom: 160px;
  }
  .header-menu__links {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .header-menu__address a {
    font-size: 32px;
    line-height: 39px;
  }
  .header-menu__address a span {
    width: auto;
    font-size: 32px;
    line-height: 39px;
    display: inline-block;
  }

  .header-menu__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .header-menu__link {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
  }

  .logo__desktop {
    display: block;
  }
  .logo__mobile,
  .btn__image {
    display: none;
  }
  .stocks {
    padding: 56px 0;
  }
  .stocks__items {
    width: 100%;
    margin-left: 0;
  }

  .stocks__item {
    padding: 26px 36px;
  }
  .stocks__title {
    font-size: 64px;
    line-height: 64px;
  }
  .btns {
    display: flex;
    justify-content: space-between;
  }
  .bread {
    font-size: 14px;
    line-height: 17px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 112px;
    bottom: 38px;
  }
  .social {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 122px;
  }
  .stocks__advantage {
    font-size: 32px;
    line-height: 39px;
  }
  .stocks__label {
    font-size: 48px;
    line-height: 48px;
  }

  .stocks__btn {
    padding: 14px 28px;
    font-size: 23px;
    line-height: 29px;
  }
  .stocks__more {
    font-size: 24px;
    line-height: 29px;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 0;
  }
  .team__tab {
    font-size: 16px;
  }
  .additional-education__tab + .additional-education__tab {
    margin-top: 0;
    margin-left: 0;
  }
  .stocks__text {
    display: block;
  }
  .additional-education__tabs {
    margin: 30px 0 30px 0;
  }
  .heading {
    font-size: 30px;
    font-weight: 700;
  }

  .gymnasium__slogan {
    font-size: 20px;
    line-height: 30px;
  }
  .gymnasium__description {
    padding: 32px 40px;
    display: block;
  }
  .gymnasium__text {
    font-size: 18px;
    line-height: 22px;
  }
  .gymnasium__mark {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
  .team__content {
    width: 95%;
  }
  .footer__contacts--menu {
    display: flex;
    width: auto;
  }
  .popup {
    height: auto;
    padding: 40px 56px;
    width: 482px;
  }
  .poup__title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 49px;
  }
  .popup__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .popup__input {
    padding: 16px;
    font-size: 16px;
  }
  .popup__input::placeholder {
    font-size: 16px;
    line-height: 20px;
  }
  .popup__label {
    font-size: 12px;
    line-height: 15px;
  }
  .popup__btn {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
  }
  .popup__approval {
    font-size: 12px;
    line-height: 15px;
    width: 205px;
  }
  .title {
    font-size: 56px;
    line-height: 68px;
    white-space: pre-line;
  }
  .header__text .logo {
    margin-bottom: 32px;
  }

  .header__text .title {
    margin-bottom: 0;
  }
  .header__text .description {
    white-space: pre-line;
  }
  .header__text .slider__play {
    margin-top: 35px;
    margin-bottom: 75px;
    width: 110px;
    height: 110px;
  }
  .title a {
    font-size: inherit;
    line-height: inherit;
  }
  .title a span img {
    width: auto;
    max-width: 100%;
  }
  .contacts__item {
    font-size: 24px;
    line-height: 29px;
  }
  .popup-team__body {
    width: 853px;
    display: flex;
    justify-content: space-between;
    height: auto;
  }
  .gallery__item {
    margin: 0;
  }

  .faq__item {
    width: 590px;
  }
  .stay__times {
    column-count: 2;
  }
  .show {
    display: none;
  }
  .hide {
    display: block;
  }
  .gymnasium-section .stocks__item {
    width: 782px;
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
  .phone-mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .header__item:first-child {
    width: auto;
  }
  .social {
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .header__items .social {
    bottom: 20%;
    left: 58px;
    background-color: #e7eef8;
    border-radius: 40px;
    padding: 16px 10px;
  }
  .social__link + .social__link {
    margin-top: 35px;
  }
  .slider__slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .slider__text {
    width: 200px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 113px;
    bottom: 70px;
  }
  .slider__image {
    display: block;
    overflow: hidden;
    width: 500px;
    height: 250px;
    border: 13px solid #2e5faa;
    border-radius: 16px;
    flex-shrink: 0;
  }
  .slider__image img {
    width: 100%;
  }
  .slider__text {
    order: -1;
  }
  .slider__title {
    font-size: 58px;
  }
  .slider__title span {
    font-size: 42px;
    margin-top: 0;
    display: inline-block;
  }
  .slider__description {
    font-size: 14px;
    line-height: 18px;
    /* padding-top: 0; */
  }
  .cirle-text {
    font-size: 5px;
  }
  .cirle-text span {
    top: -25px;
    transform-origin: 0 25px;
    text-transform: uppercase;
  }
  .slider__play {
    width: 50px;
    height: 50px;
    right: -156px;
    bottom: -1px;
    box-shadow: 10px 9px 24px rgba(0, 0, 0, 0.25);
  }

  .slider__play img {
    width: 25px;
  }
  .header__item {
    width: 558px;
  }
  .header__item + .header__item {
    width: 700px;
  }
  .header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  }
  .header__menu li {
    list-style-type: none;
  }

  .header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #31aa47;
  }
  .header__link--active {
    color: #2e5faa;
  }
  .gymnasium__cases {
    flex-wrap: nowrap;
  }
  .gymnasium__text {
    font-size: 13px;
    line-height: 15px;
  }
  .gymnasium__description {
    padding: 32px 28px;
  }

  .additional-education__tab {
    padding: 8px 9px;
    font-size: 12px;
  }

  .additional-education__tab--top {
    color: #173d76;
  }
  .additional-education__tab--british {
    background: #31aa47;
  }
  .additional-education__tab--sport {
    background: #5ac1d2;
  }

  .additional-education__tab--log {
    background: #173d76;
  }
  .additional-education__tab--psi {
    color: #173d76;
  }
  .additional-education__item {
    width: 215px;
    height: 215px;
  }
  .additional-education__img {
    right: 18px;
    top: 29px;
    transition: all ease 0.3s;
  }
  .additional-education__item:hover .additional-education__img {
    top: 50%;
    right: 50%;
    transform: translate(50px, -50px);
  }

  .additional-education__item:after {
    width: 177px;
    height: 177px;
    transition: all ease 0.3s;
  }

  .additional-education__item:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .additional-education__img {
    width: 100px;
    height: 100px;
  }
  .additional-education__title {
    left: 14px;
    bottom: 13px;

    font-size: 32px;
    line-height: 39px;
  }
  .advantage__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
  .stocks__item {
    width: 49%;
    height: 389px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  .stocks__text {
    width: auto;
  }
  .stocks__title {
    font-size: 45px;
    line-height: 1;
  }
  .stocks__label {
    font-size: 42px;
    line-height: 1;
  }

  .stocks__img img {
    width: 100%;
  }
  .popup {
    height: 575px;

    padding: 11px 56px;
  }
  .poup__title {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 12px;
  }
  .popup__subtitle {
    font-size: 12px;
    line-height: 1;
  }
  .radio-btn label {
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    line-height: 34px;
    border: 2px solid #5b8bcf;

    border-radius: 6px;
    user-select: none;
    width: 100%;
    margin-bottom: 16px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .radio-btn input[type="radio"]:checked + label {
    background: #31aa47;
  }
  .radio-btn input[type="radio"] {
    display: none;
  }
  .popup__input {
    padding: 12px;
    line-height: 1;
  }
  .header-menu__top {
    margin-bottom: 40px;
  }
  .header-menu__body {
    width: 60%;
    margin-left: 15px;
  }
  .footer__contacts--menu {
    width: 85%;
  }
  .feedback {
    background: url("../image/system/bg/feedback-bg.png") right 56px center,
      #2e5faa;
    background-repeat: no-repeat;
    background-size: 39%;
  }
  .menu__item {
    margin-right: 25px;
  }
  .footer__inner {
    width: 100%;
  }
  .footer__addresses {
    width: 280px;
  }
  .team__img {
    width: 262px;
    height: 262px;
  }
  .tabs-mobile {
    width: 69%;
  }

  .footer__contacts {
    margin: 0;
  }
  .team__items--article {
    margin: 55px 0;
    display: grid;
    grid-template-columns: repeat(3, 326px);
    gap: 20px;
  }
  .team__item--article {
    width: 326px;
  }
  .team__wrapper--article.team__wrapper--active {
    display: flex;
    justify-content: space-between;
  }
  .contacts__map img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .contacts__map {
    width: 598px;
    height: auto;
  }
  .popup-team__body {
    width: 1220px;
  }

  .is-gymnasium .header__content {
    background: url("../image/system/bg/bg.svg") no-repeat right 56px bottom 0,
      url("../image/system/bg/gymnasium.png") top center, #173d76;
    /* background-position: top center; */
    background-repeat: no-repeat;
    /* background-size: contain; */
  }
  .is-kindergarten .header__content {
    background: url("../image/system/bg/bg.svg") no-repeat right 56px bottom 0,
      url("../image/system/bg/kindergarten.png") top center, #065f16;
    /* background-position: ; */
    background-repeat: no-repeat;
    /* background-size: contain; */
  }
  .header__inner {
    width: 892px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 112px;
  }
  .header__text {
    width: 895px;
  }
  .header__text .title {
    font-size: 30px;
    line-height: 35px;
  }
  .header__text .description {
    margin-top: 25px;
  }
  .header__form .popup {
    width: 416px;
    height: auto;
  }
  .header__text .slider__play {
    width: 110px;
    height: 110px;
    margin-bottom: 35px;
  }
  .header__text .slider__play img {
    width: auto;
  }
  .header__text .cirle-text span {
    top: -53px;
    transform-origin: 0 53px;
  }
  .differences,
  .principles,
  .gallery {
    padding: 56px 0;
  }
  .differences__items,
  .principles__items {
    display: flex;
    margin: 32px 0;
    justify-content: space-between;
  }
  .differences .heading {
    margin-bottom: 0;
  }
  .differences__item {
    display: block;
    width: 410px;
    padding-right: 25px;
    margin-bottom: 0;
  }
  .differences__img {
    width: 72px;
    height: 72px;
    margin-right: 0;
  }
  .differences__head {
    margin: 24px 0;
    font-size: 29px;
    line-height: 31px;
  }
  .differences__text {
    font-size: 15px;
    line-height: 19px;
  }

  .principles .heading {
    margin-bottom: 0;
  }
  .principles__item {
    padding-left: 65px;

    font-size: 22px;
    line-height: 31px;
    margin-bottom: 0;
  }
  .principles__item::after {
    width: 44px;
    height: 44px;
  }
  .faq__items {
    column-count: 2;
  }
  .faq__question {
    font-size: 24px;
    line-height: 29px;
  }
  .faq__item.active .faq__answer {
    font-size: 18px;
    line-height: 24px;
  }
  .stay__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
  }
  .stay__item {
    margin-bottom: 0;
  }
  .additional-education__desc {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #173d76;
    width: 45%;
  }

  .diagnostics__inner {
    display: flex;
  }
  .diagnostics__text {
    width: 80%;
  }
  .diagnostics__title {
    font-style: normal;
    font-weight: 800;
    font-size: 37px;
    line-height: 47px;

    width: 64%;
  }
  .diagnostics__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 80%;
  }
  .diagnostics .feedback__form input[type="text"] {
    background-color: #2e5faa;
  }
  .diagnostics .feedback__form input[type="submit"] {
    width: 250px;
  }
  .diagnostics .feedback__approval {
    display: inline-block;
  }
  .btns .feedback__approval {
    margin-top: 0;
  }
}
@media (min-width: 1400px) {
  .popup-team__img {
    width: 150px;
    height: 150px;
  }
  .popup-team__description {
    width: 985px;
  }
  .header__inner {
    width: 1040px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1300px;
  }
  .is-home .header,
  .is-home .additional-education,
  .is-home .team,
  .is-kindergarten .team,
  .is-gymnasium .team {
    background: url(../image/system/bg/bg.svg) no-repeat right 56px bottom -205px;
  }
  .btn {
    padding: 14px 28px;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
    cursor: pointer;
  }
  .phone {
    font-size: 14px;
    line-height: 10px;
  }
  .header__item {
    width: 558px;
  }
  .header__item + .header__item {
    width: 827px;
  }

  .header__link {
    font-size: 18px;
  }

  .slider {
    width: 90%;
    margin-top: 56px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 40px;
  }
  .gymnasium__slogan {
    font-size: 20px;
    line-height: 30px;
    width: 1235px;
  }
  .gymnasium__slogan--width {
    width: 895px;
  }

  .gymnasium__cases {
    justify-content: space-between;
    width: 95%;
  }
  .additional-education__tab {
    padding: 8px 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #fff;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
  }

  .additional-education__tab--top {
    color: #173d76;
  }
  .additional-education__tab--british {
    background: #31aa47;
  }
  .additional-education__tab--sport {
    background: #5ac1d2;
  }

  .additional-education__tab--log {
    background: #173d76;
  }
  .additional-education__tab--psi {
    color: #173d76;
  }

  .additional-education__img {
    width: 75px;
    height: 75px;
  }
  .heading {
    font-size: 72px;
    line-height: 88px;
  }
  .heading--blue {
    color: #173d76;
  }
  .additional-education__item {
    width: 235px;
    height: 235px;
  }
  .additional-education__item:after {
    width: 155px;
    height: 155px;
  }
  .additional-education__item:before {
    position: absolute;
    z-index: 1;
    right: 4px;
    top: 8px;
  }
  .additional-education__title {
    bottom: 32px;
    left: 32px;
  }
  .friends {
    margin-bottom: 0;
  }
  .advantage__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin-top: 30px;
    align-items: stretch;
  }
  .advantage__item {
    width: 395px;
  }

  .menu__item {
    margin-right: 166px;
  }
  .slider__text {
    width: 443px;
  }
  .slider__title {
    font-weight: 800;
    font-size: 104px;
  }
  .slider__title span {
    font-size: 64px;
  }
  .slider__description {
    font-size: 18px;
    line-height: 22px;
    padding-left: 30px;
    width: 320px;
  }
  .cirle-text {
    font-weight: 400;
    font-size: 8px;
  }
  /* .cirle-text span {
    top: -53px;
    transform-origin: 0 53px;
  } */
  .slider__play {
    width: 110px;
    height: 110px;
    right: -60px;
    bottom: 25px;
    box-shadow: 10px 14px 24px rgba(0, 0, 0, 0.25);
  }
  .slider__play img {
    width: auto;
  }
  .cirle-text span {
    top: -53px;
    transform-origin: 0 53px;
  }

  .gymnasium__text {
    font-size: 12px;
    line-height: 1;
  }
  .gymnasium__description {
    padding: 32px 40px;
  }

  .stocks__text {
    width: 50%;
  }

  .stocks__img img {
    width: auto;
  }
  .stocks__item {
    height: auto;
  }
  .popup {
    height: auto;
  }
  .poup__title {
    font-size: 40px;
    line-height: 49px;

    margin-bottom: 32px;
  }
  .popup__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .popup__input {
    padding: 16px;
  }
  .radio-btn label {
    padding: 16px;
  }
  .header-menu__top {
    margin-bottom: 160px;
  }
  .header-menu__body {
    width: 60%;
    margin-left: 170px;
  }
  .footer__contacts--menu {
    width: 60%;
  }

  .menu__item {
    margin-right: 75px;
  }
  .footer__inner {
    width: 85%;
  }
  .footer__addresses {
    width: 326px;
  }
  .tabs-mobile {
    width: 92%;
  }
  /* .header__text .slider__play {
    width: 110px;
    height: 110px;
  } */
  .stay__items {
    width: 95%;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1800px;
  }
  .advantage__item {
    width: 554px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 92px;
    bottom: 190px;
  }
  .stocks__items {
    width: 90%;
  }
  .stocks__item {
    width: 782px;
    padding: 26px 36px;
  }
  .stocks__title {
    font-size: 64px;
    line-height: 64px;
  }
  .stocks__label {
    font-size: 48px;
    line-height: 48px;
  }
  .tabs-mobile {
    width: 70%;
  }
  .phone {
    font-size: 18px;
    line-height: 22px;
  }
  .gymnasium__cases {
    flex-wrap: wrap;
  }
  .gymnasium__text {
    font-size: 18px;
    line-height: 22px;
  }
  .slider__image {
    width: 1000px;
    height: 600px;
  }
  .slider__play {
    bottom: 0;
  }
  .additional-education__item {
    width: 326px;
    height: 326px;
  }
  .additional-education__item:after {
    width: 240px;
    height: 240px;
  }
  .additional-education__img {
    width: 100px;
    height: 100px;
    top: 40px;
    right: 40px;
  }
  .team__items--article {
    margin: 55px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts__map {
    width: 1000px;
    height: 446px;
  }
  .popup-team {
    display: none;
  }
  .popup-team__body {
    width: 1300px;
    background: #e7eef8;
    height: auto;
    padding: 50px 50px;
  }
  .popup-team__description {
    width: 900px;
  }
  .popup-team__title {
    font-size: 32px;
    line-height: 39px;
  }
  .place-post {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }
  .place-post__place {
    width: auto;
  }
  .header__inner {
    width: 1532px;
  }
  .header__text .title {
    font-size: 56px;
    line-height: 68px;
  }
  .header__text .description {
    font-size: 24px;
    line-height: 29px;
  }
  .header__form .popup {
    width: 482px;
  }
  .header__text .slider__play {
    margin-bottom: 75px;
  }
  .differences__items,
  .principles__items {
    width: 95%;
  }
  .differences__head {
    font-size: 37px;
    line-height: 39px;
  }
  .differences__text {
    font-size: 16px;
    line-height: 20px;
  }
  .principles__item {
    font-size: 32px;
    line-height: 39px;
  }
  .gallery__item {
    width: 440px;
  }
  .faq__items {
    width: 95%;
  }
  .faq__item {
    width: 840px;
  }
  .stay__items {
    width: 80%;
  }
  .stay__time {
    font-size: 16px;
    line-height: 20px;
  }
  .additional-education__desc {
    font-size: 20px;
    line-height: 32px;
  }
  .diagnostics__title {
    font-size: 56px;
    line-height: 68px;
  }
  .diagnostics .feedback__form {
    width: 554px;
  }
  .diagnostics__inner {
    width: 90%;
  }
  .header__items .social {
    bottom: 23%;
  }
  .feedback {
    background-size: auto;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
