* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  background-color: #e7eef8;
  font-family: "Commissioner", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
button {
  border: none;
  outline: none;
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1800px;
  margin: 0 auto;
  /* padding: 60px 0; */
}

.header,
.additional-education {
  background-position: right 56px bottom -206px;
}
.header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 56px;
}
.header__items,
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  border-radius: 50%;
  border: 2px solid #2e5faa;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-menu {
  /* display: none; */
  margin-right: -100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: all ease 0.3s;
  background: url(../image/system/bg/menu-bg.svg) no-repeat right 250px center,
    #2e5faa;
}
.header-menu.active {
  left: 0;
  margin-right: 0;
}
.header-menu__top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 24px 56px;
  margin-bottom: 160px;
}
.header-menu__item {
  display: flex;
  justify-content: space-between;
}
.header__btn-exit {
  background: transparent;
  cursor: pointer;
}
.header-menu__body {
  width: 60%;
  margin-left: 170px;
}
.header-menu__address {
  position: relative;
  padding-left: 40px;
}
.header-menu__address::after {
  position: absolute;
  content: url(../image/system/lab.svg);
  left: 0;
  top: 24px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}
.header-menu__address a:hover {
  text-decoration: underline;
}
.header-menu__address a {
  position: relative;
  padding-right: 70px;
}
.header-menu__address a:hover::before {
  position: absolute;
  content: url(../image/system/arrow-menu.svg);
  width: 50px;
  height: 23px;
  right: 0;
  top: 15px;
  transform: translateY(-50%);
}
.header-menu__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.header-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}
.header-menu__address a {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  color: #ffffff;
  margin-bottom: 40px;
  display: inline-block;
}

.slider__slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider__title {
  font-style: normal;
  font-weight: 800;
  font-size: 104px;
  line-height: 0.7;

  text-transform: uppercase;

  color: #2e5faa;
}
.slider__title span {
  font-size: 64px;
}
.slider__text {
  position: relative;
  width: 443px;
}
.slider__description {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-left: 30px;
  width: 320px;

  color: #173d76;
}
.slider__description::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #2e5faa;
}
.slider__play {
  position: absolute;
  background: #2e5faa;
  box-shadow: 10px 14px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  right: -60px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cirle-text {
  position: absolute;
  text-align: center;
  pointer-events: none;
  user-select: none;

  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  display: flex;
  align-items: center;

  color: #e7eef8;
}
.cirle-text span {
  position: absolute;
  top: -53px;
  text-transform: uppercase;
  display: inline-block;
  transform-origin: 0 53px;
}

.swiper {
  margin-left: 0;
  margin-right: 0;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
}
.swiper-pagination-bullet:nth-child(1) {
  background: #2e5faa;
}

.swiper-pagination-bullet:nth-child(2) {
  background: #5ac1d2;
}
.swiper-pagination-bullet:nth-child(3) {
  background: #fed059;
}
.swiper-pagination-bullet:nth-child(4) {
  background: #31aa47;
}

.swiper-pagination-bullet-active {
  position: relative;
  width: 24px;
  height: 24px;
}
.swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-radius: 50%;
}

.social {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.social__link + .social__link {
  margin-top: 35px;
}
.gymnasium {
  background-color: #2e5faa;
  padding: 56px 0;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;

  color: #ffffff;
}
.heading--blue {
  color: #173d76;
}
.heading--arrow {
  position: relative;
  padding-right: 95px;
  display: inline-block;
}
.heading--arrow:after {
  position: absolute;
  content: url(../image/system/arrow.svg);
  right: 0;
  top: 0;
  width: 60px;
  height: 16px;
}
.gymnasium__slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 100%;
}

.gymnasium__cases {
  display: grid;
  grid-template-columns: repeat(2, 343px);
  grid-gap: 10px;
}
.gymnasium__img {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
}
.gymnasium__img img {
  width: 100%;
}
.gymnasium__description {
  background: #e7eef8;
  border-radius: 0 0 8px 8px;
  padding: 32px 40px;
}
.gymnasium__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #173d76;
}
.gymnasium__mark {
  position: relative;
  border: 1px solid #2e5faa;
  border-radius: 30px;
  color: #2e5faa;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  padding: 8px 16px 8px 36px;
}

.gymnasium__mark:after {
  position: absolute;
  content: url(../image/system/mark.svg);
  width: 13px;
  height: 18px;
  top: 18px;
  left: 16px;
  bottom: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(-50%);
}
.additional-education {
  padding: 56px 0;
}
.additional-education__tabs {
  margin-top: 30px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
.additional-education__tab {
  padding: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 7px;
  /* line-height: 20px; */

  color: #fff;
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
}
.additional-education__tab--top {
  color: #173d76;
}
.additional-education__tab--british {
  background: #31aa47;
}
.additional-education__tab--sport {
  background: #5ac1d2;
}

.additional-education__tab--log {
  background: #173d76;
}
.additional-education__tab--psi {
  color: #173d76;
}

.additional-education__items {
  display: none;
}
.additional-education__items.active {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 95%;
}

.additional-education__item {
  position: relative;
  width: 147px;
  height: 147px;
  border-radius: 8px;
}
.additional-education__item + .additional-education__item {
  margin-left: 16px;
}
.additional-education__item:after {
  position: absolute;
  content: "";
  width: 116px;
  height: 116px;
  right: 0;
  top: 0;
  border-radius: 0 0 0 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.additional-education__item:before {
  position: absolute;
  z-index: 1;
  right: 40px;
  top: 40px;
}
.additional-education__title {
  position: absolute;
  left: 26px;
  bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;

  color: #e7eef8;
}

.additional-education__item--log {
  background: #173d76;
}
.additional-education__item--british {
  background: #31aa47;
}
.additional-education__item--psi {
  background: #ffffff;
}
.additional-education__item--sport {
  background: #5ac1d2;
}

.additional-education__item--log:after {
  background: #2e5faa;
}

.additional-education__item--british:after {
  background: #fed059;
}
.additional-education__item--psi:after {
  background: #5ac1d2;
}
.additional-education__item--sport:after {
  background: #2e5faa;
}

.additional-education__item--log .additional-education__title {
}
.additional-education__item--british .additional-education__title {
}
.additional-education__item--psi .additional-education__title {
  color: #173d76;
}
.additional-education__item--sport .additional-education__title {
}

.stocks {
  padding: 56px 0;
  background: #6287bf;
}
.stocks__items {
  display: flex;
  justify-content: space-between;
  /* width: 90%; */
  flex-wrap: wrap;
}
.stocks__item {
  width: 782px;
  border-radius: 8px;
  padding: 26px 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.friends {
  background: #173d76;
  color: #e7eef8;
  margin-bottom: 20px;
}
.sports {
  background: #fed059;
  color: #173d76;
}
.stocks__text {
  width: 50%;
}
.stocks__title {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;

  margin: 0;
}

.stocks__advantage {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
}
.stocks__label {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;

  color: #ffffff;

  transform: rotate(-4deg);
  white-space: pre-line;
  margin-top: -25px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: inline-block;
  padding: 17px;
}
.friends .stocks__label {
  background: #fe8b59;
}
.sports .stocks__label {
  background: #31aa47;
  margin-bottom: 30px;
}
.stocks__btn {
  background: #31aa47;
  border-radius: 30px;
  padding: 14px 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}
.stocks__more {
  margin-left: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.advantage {
  padding: 56px 0;
  background: #2e5faa;
}
.advantage__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.advantage__item {
  display: flex;
  width: 554px;
  background: #173d76;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 16px;
  padding: 16px;
}
.advantage__circle {
  flex-shrink: 0;
  border-radius: 50%;
  background: #5ac1d2;
  color: #173d76;
  width: 68px;
  height: 68px;
  margin-right: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  text-align: center;

  color: #173d76;
  text-transform: uppercase;
}
.advantage__text {
  width: 383px;
}
.advantage__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #e7eef8;
}
.advantage__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  color: #e7eef8;
}
.team {
  padding: 56px 0;
}
.team__tabs {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.team__tab {
  background: #ffffff;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #31aa47;
  padding: 10px 25px;
  cursor: pointer;
}

.team__tab.active {
  color: #fff;
  background-color: #2e5faa;
}

.team__tab + .team__tab {
  margin-left: 10px;
}
.team__tab:hover {
  color: #fff;
  background-color: #2e5faa;
}
.team__content {
  width: 95%;
}
.team__wrapper {
  display: none;
}
.team__wrapper--active {
  display: block;
}
.team__slider {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  margin-top: 32px;
}
.team__slide {
  background: #e7eef8;
  border: 1px solid rgba(46, 95, 170, 0.5);
  border-radius: 8px;

  padding: 32px;
}

.team__img {
  width: 262px;
  height: 262px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}
.team__img img {
  width: 100%;
}
.team__name {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #173d76;
  white-space: pre-line;
  margin-bottom: 15px;
}
.team__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #173d76;
}
.team__pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.team__pagination > .swiper-pagination-bullet {
  background: #2e5faa;
}
.feedback {
  padding: 56px 0;
  background: #2e5faa;
}
.feedback__inner {
  width: 575px;
}
.feedback__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}
.feedback__form input {
  border: 2px solid #5b8bcf;
  border-radius: 4px;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #e7eef8;
  background-color: transparent;
  width: 100%;
  margin-bottom: 16px;
  outline: none;
}
.feedback__form input::placeholder {
  color: inherit;
  font-family: inherit;
}
.feedback__form input[type="submit"] {
  background: #31aa47;
  border-radius: 30px;
  padding: 14px 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 125px;
  color: #ffffff;
  display: inline-block;
}
.feedback__approval {
  display: inline;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
  margin-left: 15px;
}
.footer {
  background: #173d76;
  padding: 56px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 85%;
}
.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 440px;
}
.footer__contacts--menu {
  width: 60%;
}
.footer__contact {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #6287bf;
  border-radius: 40px;
  padding: 5px 16px 5px 42px;
  color: #e7eef8;
  margin-bottom: 10px;
}
.footer__contact::after {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  left: 16px;
  bottom: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateY(-50%);
}
.footer__contact--phone::after {
  content: url(../image/content/footer-contacts/phone.svg);
}
.footer__contact--email::after {
  content: url(../image/content/footer-contacts/email.svg);
}
.footer__contact--whatsapp::after {
  content: url(../image/content/footer-contacts/whatsapp.svg);
}
.footer__contact--vk::after {
  content: url(../image/content/footer-contacts/vk.svg);
}
.footer__addresses {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #e7eef8;
  width: 326px;
}
.footer__address {
  margin-bottom: 16px;
}

.menu {
  column-count: 2;
}
.menu__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  margin-right: 74px;
  margin-bottom: 16px;
}
.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 3;
}
.popup-wrapper.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  background: #2e5faa;
  border: 4px solid #ffffff;
  box-shadow: 0px 0px 50px -15px #173d76;
  border-radius: 8px;
  width: 600px;
  margin: 0 auto;
  padding: 40px 56px;
}
.poup__title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  margin-bottom: 32px;
  color: #ffffff;
}
.popup__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}
.radio-btn label {
  display: inline-block;
  cursor: pointer;
  padding: 16px;
  line-height: 34px;
  border: 2px solid #5b8bcf;

  border-radius: 6px;
  user-select: none;
  width: 100%;
  margin-bottom: 16px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.radio-btn input[type="radio"]:checked + label {
  background: #31aa47;
}
.radio-btn input[type="radio"] {
  display: none;
}
.popup__input {
  border: 2px solid #5b8bcf;
  border-radius: 4px;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #e7eef8;
  width: 100%;
  background: transparent;
  margin-bottom: 15px;
  outline: none;
}

.popup__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #e7eef8;
}

.popup__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
  margin-bottom: 25px;
}
.popup__btn {
  background: #31aa47;
  border-radius: 30px;
  padding: 15px 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #ffffff;
  margin-right: 15px;
  cursor: pointer;
}

.popup__approval {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
  width: 205px;
  display: inline-block;
}
@media (min-width: 900px) {
  .container {
    width: 800px;
  }
  .btn {
    background: #31aa47;
    border-radius: 30px;
    padding: 14px 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
    cursor: pointer;
  }
  .phone {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;

    color: #2e5faa;
  }
  .header__item {
    width: 80%;
  }
  .header__item + .header__item {
    width: auto;
  }

  .header__menu {
    display: none;
  }

  .header__menu li {
    list-style-type: none;
  }
  .slider {
    width: 90%;
    margin-top: 56px;
  }
  .slider__image {
    display: none;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
    left: 155px;
    bottom: 0px;
  }
  /* .gymnasium__case {
    width: 45%;
  } */
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
  .slider__text {
    width: 200px;
  }
  .slider__image {
    display: block;
    overflow: hidden;
    width: 500px;
    height: 250px;
    border: 13px solid #2e5faa;
    border-radius: 16px;
    flex-shrink: 0;
  }
  .slider__image img {
    width: 100%;
  }
  .slider__title {
    font-size: 58px;
  }
  .slider__title span {
    font-size: 42px;
  }
  .slider__description {
    font-size: 14px;
    line-height: 18px;
  }
  .cirle-text {
    font-size: 5px;
  }
  .cirle-text span {
    top: -23px;
    transform-origin: 0 23px;
  }
  .slider__play {
    width: 50px;
    height: 50px;
    right: -156px;
    bottom: -20px;
  }
  .slider__play img {
    width: 25px;
  }
  .header__item {
    width: 558px;
  }
  .header__item + .header__item {
    width: 827px;
  }
  .header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  }
  .header__menu li {
    list-style-type: none;
  }

  .header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #31aa47;
  }
  .header__link--active {
    color: #2e5faa;
  }
  .gymnasium__cases {
    display: flex;
    align-items: center;
  }
  .gymnasium__text {
    font-size: 13px;
    line-height: 15px;
  }
  .gymnasium__description {
    padding: 32px 28px;
  }
  .additional-education__tab {
    padding: 8px 9px;
    font-size: 12px;
  }

  .additional-education__tab--top {
    color: #173d76;
  }
  .additional-education__tab--british {
    background: #31aa47;
  }
  .additional-education__tab--sport {
    background: #5ac1d2;
  }

  .additional-education__tab--log {
    background: #173d76;
  }
  .additional-education__tab--psi {
    color: #173d76;
  }
  .additional-education__item {
    width: 215px;
    height: 215px;
  }
  .additional-education__item:before {
    right: 18px;
    top: 29px;
  }
  .additional-education__item:after {
    width: 177px;
    height: 177px;
    /* width: 140px;
    height: 140px; */
  }
  .additional-education__item--log:before {
    content: url(../image/content/additional/log.svg);
    width: 100px;
    height: 100px;
  }
  .additional-education__item--british:before {
    content: url(../image/content/additional/brit.svg);
    width: 78px;
    height: 100px;
  }
  .additional-education__item--psi:before {
    content: url(../image/content/additional/psi.svg);
    width: 100px;
    height: 100px;
  }
  .additional-education__item--sport:before {
    content: url(../image/content/additional/sport1.svg);
    width: 100px;
    height: 100px;
  }
  .additional-education__item--sport
    + .additional-education__item--sport:before {
    content: url(../image/content/additional/sport2.svg);
    width: 100px;
    height: 100px;
  }
  .additional-education__title {
    left: 14px;
    bottom: 13px;

    font-size: 32px;
    line-height: 39px;
  }
  .advantage__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
  .stocks__item {
    width: 49%;
    height: 389px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  .stocks__text {
    width: auto;
  }
  .stocks__title {
    font-size: 45px;
    line-height: 1;
  }
  .stocks__label {
    font-size: 42px;
    line-height: 1;
  }
  .stocks__img img {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1800px;
  }
  .header,
  .additional-education,
  .team {
    background: url(../image/system/bg/bg.svg) no-repeat right 56px bottom;
  }
  .btn {
    padding: 14px 28px;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
    cursor: pointer;
  }
  .phone {
    font-size: 18px;
    line-height: 22px;
  }
  .header__item {
    width: 558px;
  }
  .header__item + .header__item {
    width: 827px;
  }

  .header__link {
    font-size: 18px;
  }

  .slider {
    width: 90%;
    margin-top: 56px;
  }
  .slider__image {
    width: 1000px;
    height: 600px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 40px;
    bottom: 138px;
  }
  .gymnasium__slogan {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    width: 1235px;
  }
  .gymnasium__case {
    width: auto;
  }
  .gymnasium__cases {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
  }
  .additional-education__tab {
    padding: 8px 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #fff;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
  }

  .additional-education__tab--top {
    color: #173d76;
  }
  .additional-education__tab--british {
    background: #31aa47;
  }
  .additional-education__tab--sport {
    background: #5ac1d2;
  }

  .additional-education__tab--log {
    background: #173d76;
  }
  .additional-education__tab--psi {
    color: #173d76;
  }

  .heading {
    font-size: 72px;
    line-height: 88px;

    color: #ffffff;
  }
  .heading--blue {
    color: #173d76;
  }
  .additional-education__item {
    width: 326px;
    height: 326px;
  }
  .additional-education__item:after {
    width: 240px;
    height: 240px;
  }
  .additional-education__item:before {
    position: absolute;
    z-index: 1;
    right: 40px;
    top: 40px;
  }
  /* .additional-education__item--log:before {
    content: url(../image/content/additional/log.svg);
    width: 100px;
    height: 100px;
  }
  .additional-education__item--british:before {
    content: url(../image/content/additional/brit.svg);
    width: 78px;
    height: 100px;
  }
  .additional-education__item--psi:before {
    content: url(../image/content/additional/psi.svg);
    width: 100px;
    height: 100px;
  }
  .additional-education__item--sport:before {
    content: url(../image/content/additional/sport1.svg);
    width: 100px;
    height: 100px;
  }
  .additional-education__item--sport
    + .additional-education__item--sport:before {
    content: url(../image/content/additional/sport2.svg);
    width: 100px;
    height: 100px;
  } */
  .additional-education__title {
    bottom: 32px;
    left: 32px;
  }
  .friends {
    margin-bottom: 0;
  }
  .advantage__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin-top: 30px;
    align-items: stretch;
  }
  .feedback {
    background: url("../image/system/bg/feedback-bg.png") right 56px center,
      #2e5faa;
    background-repeat: no-repeat;
  }
  .menu__item {
    margin-right: 166px;
  }
  .slider__text {
    width: 443px;
  }
  .slider__title {
    font-weight: 800;
    font-size: 104px;
  }
  .slider__title span {
    font-size: 64px;
  }
  .slider__description {
    font-size: 18px;
    line-height: 22px;
    padding-left: 30px;
    width: 320px;
  }
  .cirle-text {
    font-weight: 400;
    font-size: 8px;
  }
  .cirle-text span {
    top: -53px;
    transform-origin: 0 53px;
  }
  .slider__play {
    width: 110px;
    height: 110px;
    right: -60px;
    bottom: 0;
  }
  .slider__play img {
    width: auto;
  }
  .gymnasium__text {
    font-size: 18px;
    line-height: 22px;
  }
  .gymnasium__description {
    padding: 32px 40px;
  }
  .stocks__items {
    width: 90%;
  }
  .stocks__item {
    width: 782px;
    padding: 26px 36px;
  }
  .stocks__text {
    width: 50%;
  }
  .stocks__title {
    font-size: 64px;
    line-height: 64px;
  }
  .stocks__label {
    font-size: 48px;
    line-height: 48px;
  }
  .stocks__img img {
    width: auto;
  }
  .stocks__item {
    height: auto;
  }
}
